<div class="container">
<div class="row" style="margin-top: 55px">
<div class="top-message col-md-offset-0 col-md-10">


<div class="col-xs-9">
<h2>Follow Users</h2>
<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th></th>
    </tr>
  </thead>

<tbody>
<% @users.each do |user| %>
  <tr>
   <th><%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size:'60x60' %></th>
   <th><%= user.name %></th>
   <th><%= "フォロー数: #{@user.follower.count}" %></th>
   <th><%= "フォロワー数: #{@user.followed.count}" %></th>

   <% if user_signed_in? %>
     <th>
       <% if current_user.following?(user) %>
          <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
       <% else %>
          <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
       <% end %>
     </th>
   <% end %>
   <th><%= link_to "Show", user_path(user) %></th>
  </tr>
<% end %>
</tbody>

</table>
</div>


</div>
</div>
</div>